body {
  font-family: system-ui;
  background: #f06d06;
  color: black;
  text-align: center;
}

.container{
background-color: #FFFFFF;
display: flex;
flex-direction: column;
}

.header{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url("https://images6.alphacoders.com/317/thumb-1920-317170.jpg");
    background-size: cover;
            background-position: right;
        background-attachment: local;
  }
  
 .nav{
    text-align: center;
  }
  
  .content{
   background-color: pink;
   display: flex;
   flex-direction: row; 
   img {
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   width: 150px;
   }
    
   display: grid;
   grid-template-columns: 1fr;
}
  
@media (min-width: 768px) {
    .header {
        background-attachment: fixed; /* 滾動時背景固定 */
        background-position: unset;
    }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
  }
}

@media (min-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
  }  
 }  
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;    
}
  
    
.box {
/*   border: 1px solid black; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

  
  .footer {
    background-color: yellow;
  }